body {
  &::before {
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(33, 33, 33, 0.6);
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
  }

  &::after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(33, 33, 33, 0.6);
  }
}
